<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>CS7330</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">CS7330</a>
      
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
        <div class="container">
        <br><br>
        <h1 class="header center orange-text">Group 10 Bus Network</h1>
        <title>{% block title %}{% endblock %} - Flaskr</title>
            {% block content %}
            <div>{{data|safe}}</div>
            {% endblock %}
        
        </div>
   </div> 
  
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text" href="/"><a href="/">Back to Querying</a></h5>
          <p class="grey-text text-lighten-4"></p>


        </div>
        
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a class="orange-text text-lighten-3" href="https://www.smu.edu/Lyle/Academics/Departments/CS">CS7330</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/materialize_js.js"></script>
  <script src="static/init.js"></script>
  <script>
  
  </script>
  </body>
</html>
